<style>
  .mat-icon {
    color: white;
  }
  .tb-icon {
    display: block;
  }
</style>

<div class="tb-icon">
  <button
    mat-icon-button
    class="tb-icon"
    [routerLink]="[Rts.SessionList]"
    matTooltip="Sessions"
  >
    <mat-icon>play_circle</mat-icon>
  </button>
  <button
    mat-icon-button
    class="tb-icon"
    [routerLink]="[Rts.WspList]"
    matTooltip="Workspace Programs"
  >
    <mat-icon>description</mat-icon>
  </button>
</div>

<!--
<as-split direction="horizontal" gutterSize="5">
  <as-split-area [size]="15">
    <ul class="nav flex-column">
      <li>Workspace Programs</li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[Rts.WspList']">List </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="[Rts.WspEdit + '/new']">New</a>
      </li>
    </ul>
    <section dir="ltr">
      <ul class="nav flex-column">
        <li>Sessions</li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="[Rts.SessionList]"
            matTooltip="List trace sessions"
            >List
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            matTooltip="Create a new trace session"
            [routerLink]="[Rts.NewSession]"
            >New</a
          >
        </li>
      </ul>
    </section>
  </as-split-area>

  <as-split-area [size]="85">
    <router-outlet></router-outlet>
  </as-split-area>
</as-split> -->
