Cargo.lock
Cargo.toml
README.md
design
docker
docs
justfile
requirements.txt
styx-cpu
styx-devices
styx-grpc
styx-loader
styx-machines
styx-macros
styx-memory
styx-sync
# styx-trace
target
utils

.cargo
.config
.dockerignore
.git
.gitignore
.gitlab
.gitlab-ci.yml
.pre-commit-config.yaml
.vscode

extensions/trace-webapp/.angular/
extensions/trace-webapp/dist/
extensions/trace-webapp/docker/angular/
extensions/trace-webapp/node_modules/
extensions/trace-webapp/src/generated/
